<!DOCTYPE html>

<html lang="es">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/profileUser.css">
</head>

<body>

    <%- include('../partials/header') %>

        <main>

            <div class="portada-perfil">

                <div class="avatar-perfil">

                    <img src="/images/usuarios/<%=usuarioBuscado.image%>" alt="">

                    <a href="#" class="cambiar-foto">
                        <i class="fas fa-camera"></i>
                    </a>

                </div>

                <div class="editar-perfil">
                    <button type=""><a href="/users/<%=usuarioBuscado.id%>/edit"><i class="fa-solid fa-pencil"></i></a></button>
                </div>

            </div>

            <div class="datos-usuario">
                <h2>
                    <%= `${usuarioBuscado.last_name.toUpperCase()}, ${usuarioBuscado.name.substring(0,
                        1).toUpperCase()}${usuarioBuscado.name.substring(1).toLowerCase()}`%>
                </h2>
                <ul>
                    <li>
                        <p>Fecha de nacimiento</p>
                        <h3>
                            <%= usuarioBuscado.date_of_birth%>
                        </h3>
                    </li>
                    <li>
                        <p>Domicilio</p>
                        <h3>
                            <%= usuarioBuscado.home_adress%>
                        </h3>
                    </li>
                    <li>
                        <p>Email</p>
                        <h3>
                            <%= usuarioBuscado.email %>
                        </h3>
                    </li>
                    <li>
                        <p>Teléfono</p>
                        <h3>
                            <%= usuarioBuscado.phone %>
                        </h3>
                    </li>
                </ul>
            </div>
            <!-- <a href="/users/<%=usuarioBuscado.id%>/edit">
                <button>Editar mi Perfil</button>
            </a> -->
            <form action="/users/<%=usuarioBuscado.id%>/delete">
                <button type="submit">Eliminar mi Cuenta</button>
            </form>





        </main>

        <%- include('../partials/footer') %>
</body>

</html>