<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <%- include('../partials/head') %>

        <title>Usuarios</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/css/usersList.css">
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <div class="datatable-container">

                <div class="header-tools">

                    <div class="tools">
                        <ul>
                            <li>
                                <span>
                                    <input type="checkbox">
                                </span>
                            </li>
                            <li>
                                <button>
                                    <i class="material-icons">add_circle</i>
                                </button>
                            </li>
                            <li>
                                <button>
                                    <i class="material-icons">edit</i>
                                </button>
                            </li>
                            <li>
                                <button>
                                    <i class="material-icons">delete</i>
                                </button>
                            </li>
                            <li>
                                <button>
                                    <i class="material-icons">share</i>
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div class="search">
                        <input type="text" name="" id="" class="search-input">
                    </div>

                </div>

                <table class="datatable">
                    <thead>
                        <tr>
                            <th>Check</th>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Telefono</th>
                        </tr>
                    </thead>
                  
                     <% for(let i=0 ; i < users.length; i++) { %>
                        <tbody>
                            <tr>
                                <td class="table-checkbox"><input type="checkbox" name="" id=""></td>
                                 <td>
                                    <%= users[i].id %>
                                </td>
                                <td>
                                    <%= users[i].name %>
                                </td>
                                <td>
                                    <%= users[i].last_name %>
                                </td>
                                <td>
                                    <%= users[i].email %>
                                </td>
                                <td>
                                    <%= users[i].phone %>
                                </td>
                            </tr>
                        </tbody>
                        <% } %>
                </table>
                <div class="footer-tools">

                    <div class="list-items">

                        <select name="n-entries" id="n-enties" class="n-entries">
                            <option value="15">5</option>
                            <option value="10" selected>10</option>
                            <option value="15">15</option>
                        </select>

                    </div>

                    <div class="pages">

                        <ul>
                            <li><span clas="active">1</span></li>
                            <li><button>2</button></li>
                            <li><button>3</button></li>
                            <li><button>4</button></li>
                            <li><button>...</button></li>
                            <li><button>9</button></li>
                            <li><button>10</button></li>
                        </ul>
                    </div>

                </div>

            </div>
        </main>
        <%- include('../partials/footer') %>

</body>

</html>