<body>

    <header>

        <nav>

            <ul class="nav-bar">

                <li class="menu-desplegable">

                    <div class="bar-menu" id="bar-menu">
                        <span class="line1" id="line1"></span>
                        <span class="line2" id="line2"></span>
                        <span class="line3" id="line3"></span>
                    </div>

                    <ul class="options-burger-menu" id="options-burger-menu">

                        <li class="items cat" id="b-categ">

                            <div>
                                <p>Categorías</p>
                                <p class="down"><i class="fa-solid fa-angle-down"></i></p>
                                <p class="up"><i class="fa-solid fa-angle-up"></i></p>
                            </div>

                            <ul>
                                <% for(let i=0; i< categoryList.length; i++) {%>
                                    <li><a href="/product/category/<%= categoryList[i].id %>">
                                            <%=categoryList[i].name%>
                                        </a></li>
                                    <%}%>
                            </ul>

                        </li>

                        <li class="items"><a href="/armar-pc" class="link-item">Armá tu pc</a></li>

                        <% if (locals.isLogged) { %>
                            <li class="items"><a href="/productCart" class="link-item">Carrito</a></li>
                            <li class="items"><a href="/armar-pc" class="link-item">Mis compras</a></li>
                            <li class="items"><a href="/armar-pc" class="link-item">Mis favoritos</a></li>
                            <li class="items"><a href="/users/profile" class="link-item">Mi perfil</a></li>
                            <li class="items"><a href="/armar-pc" class="link-item">Ayuda</a></li>
                            <li class="items"><a href="/armar-pc" class="link-item">Ajustes</a></li>
                            <li class="items"><a href="/users/logout" class="link-item">Salir<i
                                        class="fa-solid fa-arrow-right-from-bracket"></i> </a>
                                <% } else { %>
                            <li class="items"><a href="/armar-pc" class="link-item">Ayuda</a></li>
                            <li class="items"><a href="/users/login" class="link-item">Ingresar<i
                                        class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                            <% } %>

                    </ul>

                </li>

                <li class="logo-infinity-store">
                    <a href="/" class="logo-rectangular-m-t"><img src="/images/logo-mt.png" alt=""></a>
                    <a href="/" class="logo-cuadrado-d"><img src="/images/logo-t.png" alt=""></a>
                </li>

                <li class="categoria items cat" id="b-categ-d">

                    <div>
                        <p>Categorías</p>
                        <p class="down"><i class="fa-solid fa-angle-down"></i></p>
                        <p class="up"><i class="fa-solid fa-angle-up"></i></p>
                    </div>

                    <ul>

                        <% for(let i=0; i< categoryList.length; i++) {%>

                            <li>
                                <a href="/product/category/<%= categoryList[i].id %>">
                                    <img src="/images/category/<%=categoryList[i].image%>" alt="">
                                    <span>
                                        <%= categoryList[i].name.length <14? categoryList[i].name :
                                            (categoryList[i].name.substring(0, 10)) + "..." %>
                                    </span>
                                </a>
                            </li>

                            <%}%>

                    </ul>

                </li>

                <li class="arma-tu-pc"><a href="/armar-pc">Armá tu pc</a></li>

                <li class="buscador">
                    <form method="POST" action="/product/search">
                        <input type="text" name="search" id="search" class="barra-busqueda"
                            placeholder="Buscar por producto, marca, categoría...">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </li>

                <li class="carrito"><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>

                <% if (locals.isLogged) { %>

                    <li class="perfil" id="b-profile-d">

                        <div>
                            <img src="/images/usuarios/<%= locals.userLogged.image %>" alt="" class="foto-perfil">
                        </div>

                        <ul>
                            <li class="menu-perfil"><a href="/armar-pc">Mis compras</a></li>
                            <li class="menu-perfil"><a href="/armar-pc">Mis favoritos</a></li>
                            <li class="menu-perfil"><a href="/users/profile">Mi perfil</a>
                            <li class="menu-perfil"><a href="/armar-pc">Ajustes</a>
                            <li class="menu-perfil"><a href="/users/logout">Salir<i
                                        class="fa-solid fa-arrow-right-from-bracket"></i> </a>
                        </ul>

                    </li>
                    <% } else {%>
                        <li class="login"><a href="/users/login">Ingresar</a></li>
                        <% } %>

            </ul>

        </nav>

    </header>

</body>