<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/styleAllProducts.css">
        <title>Product List Infinity Store</title>
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <% if (similares.length > 0) { %>
                <section class="similares">
                    <% for(let i=0; i < similares.length; i++) { %>
                        <div class="articulo">
                            <a href="/product/<%=similares[i].id%>/details">
                                <div class="articulo23">
                                    <img src="/images/products/<%=similares[i].image%>" alt="Foto Similares">
                                    <div class="linea"></div>
                                    <p class="producto-similar1">
                                        <%=similares[i].name.substring(0, 20)%>...
                                    </p>
                                    <p class="valor2">$<%= similares[i].price %>
                                    </p>
                                </div>
                            </a>
                        </div>
                    <% } %>
                </section>
            <% } else { %>
                <h2 class="no-found">No se ha podido encontrar '<%= buscado %>'</h2>
            <% } %> 
        </main>

        <div class="footer">
            <%- include('../partials/footer') %>
        </div>

</body>

</html>