<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/styleindex.css">
</head>

<body>

    <%- include('../partials/header') %>

        <div class="main-oculto" id="main-oculto"></div>

        <!------------------------- BANNER CARRUSSEL  ------------------------->

        <aside class="banner">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="\images\pexels-soumil-kumar-735911.jpg" class="d-block w-100" alt="banner01">
                  </div>
                  <div class="carousel-item">
                    <img src="\images\pngtree-gamer-style-cmando-neon-effect-vactor-image_418958.jpg" class="d-block w-100" alt="banner02">
                  </div>
                  <div class="carousel-item">
                    <img src="\images\fondo-c-e-desktop.jpg" class="d-block w-100" alt="banner03">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </aside>

        <!-- ICONOS POR DEBAJO DE BANNER -->

        <section class="categorias">

            <% for(let i=0; i< randomCategorias.length; i++) {%>

                <div class="category<%=i + 1%>">

                    <a href="/product/category/<%= randomCategorias[i].id %>">
                        <div class="icon<%=i + 1%>">
                            <img src="/images/category/<%=randomCategorias[i].image%>" alt="">
                        </div>
                    </a>

                    <div class="nameCategory<%=i + 1%>">
                        <h3>
                            <%= randomCategorias[i].name.length<10 ? randomCategorias[i].name :
                                randomCategorias[i].name.substring(0, 8) + "..." %>
                        </h3>
                    </div>

                </div>

                <%}%>

        </section>

        <!-- ICONO FIXED -->

        <a href="/productCart">
            <div class="shoppingCarF">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </a>

        <main>

            <section class="ofertas">

                <h2><a href="#">Ofertas</a></h2>

                <div class="productos">

                    <% for(let i=0; i < productosOfertas.length; i++) { %>

                        <article class="articulo<%=i + 1%>" data-aos="fade-right">

                            <a href="/product/<%= productosOfertas[i].id%>/details ">


                                <div id="favOff<%=i + 1%>">
                                    <span class="material-icons-outlined">favorite_border</span>
                                </div>

                                <div id="favOn<%=i + 1%>">
                                    <span class="material-icons">favorite</span>
                                </div>


                                <img src="/images/products/<%= productosOfertas[i].image%>" alt="primer producto">


                                <div class="main-article">

                                    <p class="name">
                                        <%= productosOfertas[i].name.length <40? productosOfertas[i].name.toUpperCase()
                                            : (productosOfertas[i].name.substring(0, 28)).toUpperCase() + "..." %>
                                    </p>

                                    <p class="precio-antes">$<%= productosOfertas[i].price %>
                                    </p>

                                    <div>

                                        <p class="precio">$<%= productosOfertas[i].price -
                                                ((productosOfertas[i].price*productosOfertas[i].discount)/100) %>
                                        </p>

                                        <p class="descuento">
                                            <%= productosOfertas[i].discount %>% OFF
                                        </p>

                                    </div>

                                </div>

                            </a>
                        </article>

                        <% } %>

                </div>

            </section>

            <section class="recomendado">

                <h2><a href="#">Recomendados</a></h2>

                <div class="productos">

                    <% for(let i=0; i < productsRecomendados.length; i++) { %>

                        <article class="articulo<%=i + 1%>" data-aos="fade-left">

                            <a href="/product/<%= productsRecomendados[i].id%>/details ">

                                <img src="/images/products/<%= productsRecomendados[i].image %>"
                                    alt="imagen del producto">

                                <div id="favOffR<%=i + 1%>" class="favOff">
                                    <span class="material-icons-outlined">favorite_border</span>
                                </div>

                                <div id="favOnR<%=i + 1%>" class="favOn"><span class="material-icons">favorite</span>
                                </div>

                                <div class="main-article">

                                    <p class="name">
                                        <%= productsRecomendados[i].name.length <40?
                                            productsRecomendados[i].name.toUpperCase() :
                                            (productsRecomendados[i].name.substring(0, 28)).toUpperCase() + "..." %>
                                    </p>

                                    <% if(productsRecomendados[i].off_sale) {%>

                                        <p class="precio-antes">$<%= productsRecomendados[i].price %></p>

                                        <div>

                                            <p class="precio">$<%= productsRecomendados[i].price -
                                                    ((productsRecomendados[i].price*productsRecomendados[i].discount)/100)%>
                                            </p>

                                            <p class="descuento">
                                                <%= productsRecomendados[i].discount %>% OFF
                                            </p>

                                        </div>

                                    <%} else {%>

                                        <div>
                                            <p class="precio">$<%= productsRecomendados[i].price%></p>
                                        </div>

                                    <%}%>

                                </div>

                            </a>

                        </article>
                        
                    <% } %>

                </div>

            </section>

        </main>

        <%- include('../partials/footer') %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
          </script>
</body>

</html>