<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/styleindex.css">
</head>

<body>

    <%- include('../partials/header') %>

    <!------------------------- BANNER  ------------------------->

    <aside class="banner">
        <img src="/images/pexels-soumil-kumar-735911.jpg" alt="banner">
    </aside>

    <!-- ICONOS POR DEBAJO DE BANNER -->

    <section class="categorias">

        <% for(let i=0; i< randomCategorias.length; i++) {%>

            <div class="category<%=i + 1%>">
                <div class="icon<%=i + 1%>">
                    <img src="<%=randomCategorias[i].image%>" alt="">
                </div>
                <div class="nameCategory<%=i + 1%>">
                    <h3><%= randomCategorias[i].name.length<10 ? randomCategorias[i].name : randomCategorias[i].name.substring(0, 8) + "..."%></h3>
                </div>
            </div>
            
        <%}%>

    </section>


    <!-- ICONO FIXED -->

    <div class="shoppingCarF">
        <i class="fa-solid fa-cart-shopping"></i>
    </div>

    <main>

        <section class="ofertas">

            <h2><a href="#">Ofertas</a></h2>

            <div class="productos">

                <% for(let i=0; i < productosOfertas.length; i++) { %>

                    <article class="articulo<%=i + 1%>">

                        <img src="/images/products/<%= productosOfertas[i].image%>" alt="primer producto">
                        
                        <button id="favOff"><span class="material-icons-outlined">favorite_border</span></button>
                        <!-- <button id="favOn"><span class="material-icons">favorite</span></button> -->
                        
                        <div class="main-article">

                            <p class="name"><%= productosOfertas[i].name.length <40? productosOfertas[i].name.toUpperCase()  : (productosOfertas[i].name.substring(0, 28)).toUpperCase() + "..." %></p>

                            <p class="precio-antes">$<%= productosOfertas[i].price %></p>

                            <div>
                                <p class="precio">$<%= productosOfertas[i].price - ((productosOfertas[i].price*productosOfertas[i].discount)/100) %></p>
                                <p class="descuento"><%= productosOfertas[i].discount %>% OFF</p>
                            </div>

                        </div>

                    </article>

                <% } %>

            </div>

        </section>

        <section class="recomendado">

            <h2><a href="#">Recomendados</a></h2>

            <div class="productos">

                <% for(let i=0; i < productsRecomendados.length; i++) { %>

                    <article class="articulo<%=i + 1%>">

                        <img src= "/images/products/<%= productsRecomendados[i].image %>" alt="imagen del producto">
                        
                        <button id="favOff"><span class="material-icons-outlined">favorite_border</span></button>
                        <!-- <button id="favOn"><span class="material-icons">favorite</span></button> -->
                        
                        <div class="main-article">
                                
                            <p class="name"><%= productsRecomendados[i].name.length <40? productsRecomendados[i].name.toUpperCase()  : (productsRecomendados[i].name.substring(0, 28)).toUpperCase() + "..." %></p>

                            <% if(productsRecomendados[i].discount !== 0) {%>
                                <p class="precio-antes">$<%= productsRecomendados[i].price %></p>
                                <div>
                                    <p class="precio">$<%= productsRecomendados[i].price - ((productsRecomendados[i].price*productsRecomendados[i].discount)/100) %></p>
                                    <p class="descuento"><%= productsRecomendados[i].discount %>% OFF</p>
                                </div>
                            <%} else {%>
                                <div>
                                    <p class="precio">$<%= productsRecomendados[i].price%></p>
                                </div>
                            <%}%>

                        </div>
                    
                    </article>

                <% } %>

            </div>
        </section>
        
    </main>

    <%- include('../partials/footer') %>

</body>

</html>