<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/productCreationEdition.css" />
</head>

<body>

  <%- include('../partials/header') %>

  <main>

    <h1><%= existe ? "Actualizar producto" : "Crear producto"%></h1>

    <form action="/" method="POST">
  
      <div>
        <label for="name">Nombre del producto</label>
        <input type="text" class="controls" id="name" value="<%= name%>" placeholder="Ingrese el nombre del producto"/>
      </div>
  
      <div>
  
        <label for="categoria">Categoría del producto</label>
  
        <select id="categoria" class="controls">
          <option value="auricular" <%=categoria==="auricular" ? "Selected" : "" %> >Auriculares</option>
          <option value="almacenamiento" <%=categoria==="almacenamiento" ? "Selected" : "" %> >Almacenamiento</option>
          <option value="fan-cooler" <%=categoria==="fan-cooler" ? "Selected" : "" %> >Fan coolers</option>
          <option value="microprocesador" <%=categoria==="microprocesador" ? "Selected" : "" %> >Microprocesadores
          </option>
          <option value="monitor" <%=categoria==="monitor" ? "Selected" : "" %> >Monitores</option>
          <option value="mouse" <%=categoria==="mouse" ? "Selected" : "" %> >Mouse</option>
          <option value="notebook" <%=categoria==="notebook" ? "Selected" : "" %> >Notebook</option>
          <option value="parlante" <%=categoria==="parlante" ? "Selected" : "" %> >Parlantes</option>
          <option value="placa-video" <%=categoria==="placa-video" ? "Selected" : "" %> >Placas de video</option>
          <option value="silla" <%=categoria==="silla" ? "Selected" : "" %> >Silla gamer</option>
          <option value="teclado" <%=categoria==="teclado" ? "Selected" : "" %>>Teclado</option>
        </select>
        
      </div>
      
      <div>
        <label for="precio">Precio del producto</label>
        <input type="number" id="precio" class="controls" value="<%= precio%>" placeholder="Ingrese el precio del producto" />
      </div>

      <div class="descripcion">
        <label for="descripcion">Descripción del producto</label>
        <textarea class="controls" name="" id="descripcion" cols="30" rows="5"
          placeholder="Ingrese descripción del producto"><%= descripcion%></textarea>
      </div>
  
      <div class="c-photos">
        <label for="photo">Fotos del producto</label>
        <input type="file" accept="image/*" id="photo" class="controls" multiple/>
      </div>
      
      <div>
        <label for="colores">Colores disponibles:</label>
        <div class="c-in-b-colores">
          <input type="text" id="colores" class="controls">
          <button class="b-colores">+</button>
        </div>
      </div>
      
      <div>
        <input type="checkbox" id="check-descuento" value="true"><label for="check-descuento" class="check-descuento">Tiene descuento</label>
        <div class="descuentos">
          <label for="in-descuento">Descuento (%): </label>
          <input id="in-descuento" type="number" value="<%= descuento%>" class="controls">
        </div>
      </div>

      <div class="botones">
        <button type="reset"><a href="/"><i class="fa-solid fa-arrows-rotate"></i></a></button>
        <button type="submit"><a href="/"><%= existe ? "Actualizar" : "Publicar" %></a></button>
      </div>
  
    </form>

  </main>

  <%- include('../partials/footer') %>

</body>

</html>