<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/styleproductDetail.css">
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <section class="caja-producto">
                <div class="name">
                    <h2>
                        <%= detalle.name %>
                    </h2>
                </div>
                <div class="contenedor-fotos-datos">
                    <div class="caja-fotos">
                        <div class="principal">
                            <img src="/images/products/<%= detalle.image %>" class="foto" alt="Foto principal">
                        </div>
                        <!-- <div class="fotos-muestra">
                        <div class="foto-2">
                            <img src="/images/Draconic2.jpg" alt="Foto">
                        </div>
                        <div class="foto-3">
                            <img src="/images/Draconic3.jpg" alt="Foto">
                        </div>
                        <div class="foto-4">
                            <img src="/images/Draconic4.jpg" alt="Foto">
                        </div>
                        <div class="foto-5">
                            <img src="/images/Draconic5.jpg" alt="Foto">
                        </div>
                        </div> -->

                        <% if (detalle.stock && detalle.stock> 0) { %>
                            <div class="con-stock">
                                <span>En stock</span>
                            </div>
                            <% } else {%>
                                <div class="sin-stock">
                                    <span>Sin stock</span>
                                </div>
                                <% } %>

                    </div>
                    <div class="contenedor-datos">
                        <div>
                            <h2 class="name-t">
                                <%= detalle.name %>
                            </h2>
                        </div>

                        <div class="contenedor-precio">

                            <% if (detalle.off_sale) { %>

                                <p class="precio-antes">$<%= detalle.price %>
                                </p>

                                <div class="caja-precio">
                                    <div>
                                        <h3>$<%= detalle.price - ((detalle.discount * detalle.price)/100) %>
                                        </h3>
                                        <p class="descuento">
                                            <%= detalle.discount %>% OFF
                                        </p>
                                    </div>
                                    <p class="cuotas">12 cuotas de $<%= (detalle.price /12).toFixed(2) %>
                                    </p>
                                </div>
                                <% } else {%>

                                    <div class="caja-precio">
                                        <h3>$<%= detalle.price %>
                                        </h3>
                                        <p class="cuotas">12 cuotas de $<%= (detalle.price /12).toFixed(2) %>
                                        </p>
                                    </div>

                                    <% }%>

                        </div>

                        <form action="" class="caja-carrito">
                            <p>Cantidad: </p>


                            <% if (detalle.stock && detalle.stock> 1) { %>
                                <div>
                                    <select class="cantidad">
                                        <% for(i=0; i < detalle.stock; i++) {%>
                                            <option value="<%= i + 1%>">
                                                <%= i + 1%> 
                                            </option>
                                            <%}%>
    
                                    </select>
                                    <p class="disponible" >(<%= detalle.stock %>
                                        disponibles)</p>
                                </div>
                                <button type="submit">Añadir al carrito</button>
                                <% }else if (detalle.stock && detalle.stock==1) {%>

                                    <div>

                                        <select class="cantidad">
                                            <option value="1">
                                                1
                                            </option>
                                        </select >

                                        <p class="disponible" >(<%= detalle.stock %>
                                            disponibles)
                                        </p>

                                    </div>

                                    <button type="submit">Añadir al carrito</button>

                                <% }else { %>
                                    <select class="cantidad" disabled>
                                        <option value="0">
                                            Sin stock</span>
                                        </option>
                                    </select>
                                    <button type="submit" disabled>Añadir al carrito</button>
                                        <% } %>


                                            
                        </form>

                        <div class="caja-envio">
                            <h4>Envío</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum facilis nam
                                tempora.
                                Voluptatibus</p>
                        </div>
                    </div>
                </div>

                <div class="conteiner-description-opinion">

                    <div class="caja-botones">
    
                        
                        <div class="left"><button type="button">Descripción</button></div>
                        <div class="right"><button type="button">Opiniones</button></div>
    
    
                        <!-- <button type="button">Ficha técnica</button> -->
    
                        
    
                    </div>
    
                    <div class="caja-description">
                        <p><%= detalle.description %> </p>
                    </div>
                </div>

            </section>

            <section class="caja-similares">

                <h2>Similares</h2>

                <div class="productos">

                    <% for(let i=0; i < similares.length; i++) { %>

                        <article class="articulo">

                            <a href="/product/<%= similares[i].id%>/details ">
                                <div id="favOff<%=i + 1%>">
                                    <span class="material-icons-outlined">favorite_border</span>
                                </div>

                                <div id="favOn<%=i + 1%>">
                                    <span class="material-icons">favorite</span>
                                </div>

                                <img src="/images/products/<%= similares[i].image%>" alt="primer producto">


                                <div class="main-article">

                                    <p class="name">
                                        <%= similares[i].name.length <40? similares[i].name.toUpperCase() :
                                            (similares[i].name.substring(0, 28)).toUpperCase() + "..." %>
                                    </p>

                                    <% if (similares[i].discount !=0) { %>
                                        <p class="precio-antes">$<%= similares[i].price %>
                                        </p>
                                        <% } %>

                                            <div>

                                                <p class="precio">$<%= similares[i].price
                                                        -((similares[i].price*similares[i].discount)/100) %>
                                                </p>

                                                <% if (similares[i].discount !=0) { %>
                                                    <p class="descuento">
                                                        <%= similares[i].discount %>% OFF
                                                    </p>
                                                    <% } %>


                                            </div>

                                </div>
                            </a>

                        </article>

                        <% } %>

                </div>




            </section>


        </main>
        <%- include('../partials/footer') %>
</body>

</html>